@font-face {
font-family: 'Digital7';
src:url('../fonts/digital-7-webfont.ttf') format('truetype');
}

.digitNum{border:1px dashed #ccc; display:inline-block; vertical-align: baseline; font-family:Digital7; line-height:100%; }
.dn-timer{width:18.5vw;font-size:36.5vw;  margin:0px -10px 0 -10px;}
.dn-timer-colon{width:6.5vw;font-size:36.5vw;  margin:0px -10px 0 -10px;}
.dn-timeout{font-size:31.5vw;}
.dn-counter{font-size:56.5vw; }
.dn-small{width:5vw;font-size:10vw;  margin:0px -3px 0 -3px;}
.dn-small-colon{width:2vw;font-size:10vw;  margin:0px -3px 0 -3px;}
