html, body {margin: 0; padding: 0; overflow: hidden}


#mContainerList{

    /*position:relative;
    width:100%;
    border:2px dashed #00FF00;*/
}




.inner-row {
  display:table;
  width:100%;
  margin:auto;
  height:80px;
}
.item{
  display:table-cell;
  font-size: 1.7em;
  font-weight: bold;
  font-family:'Roboto-Bold', sans-serif;
  color:#EEE;
  text-align:center;
  vertical-align: middle;
}
.pos{width:10%;}
.team{width:18%;padding-left:30px;}
.uname{text-align:left;padding-left: 40px;}
.score{width:10%;}


/* LIST TITLES */
.board-title{
  background-color:#d91883;
  /* margin-bottom: 10px; */
}
.board-title .inner-row {
  width:98%;
  height:40px;
}
.board-title .item{
  font-size: 1.0em;
  color:#FFF;
  vertical-align: bottom;
}

/* LIST ITEMS*/
.board-list-container{
  border:1px solid #000;/*Very Important*/
  position:relative;
  margin:auto;
  width:100%;
}
.board-list{
  margin-top:0px;
  position:relative;
}

.board-list .inner-row{
  background-color:#FFF;
  height:80px;
  background-image: url(../img/list_bg.png);  background-position: left; background-size:auto 100%;
  /* border-bottom: 5px solid #EEE; */
}
.board-list .team-flag{
  width:145px;
  height:43px;
  /* border:1px solid #DDD; */
}
.board-list .team-flag-none{
  width:145px;
  height:43px;
  border:none;
}
.board-list .score{
  color:#e91f36;
  /* background-image: url(../img/slider_shapes.png);  background-position: center; background-size:auto 100%; */
}


/* NEW USER ITEM */
.board-newitem {
  position:absolute;
  top:0px;
  left:0%;
  width:100%;
}
.board-newitem .inner-row{
  width:100%;
  height:80px;
  background-image: url(../img/list_bg_over.png);  background-position: left; background-size:auto 100%;
}
.board-newitem .item{
  color:#FFF;
  border: none;
}
.board-newitem .pos{}
.board-newitem .team{}
.board-newitem .team img{
  width:145px;
  height:43px;
  /* border:1px solid #DDD; */
}

.board-newitem .score{color:#FFF;}


#edmboard{
position:absolute;z-index:1000;  width:1280px;height:853px;left:1080px;top:0px;   background-image: url(../img/edm_board_bg.png);  background-position: left; background-size:auto 100%;
}
.edm-list-container{
  font-size: 0.8rem;
  font-weight: 200;
  position:relative;
  margin:auto;
  top:208px;
  width:680px;
  height:500px;
  background-color:#000000;
}


.edm-list{
  margin-top:0px;
  position:relative;
}

.edm-list .inner-row{
  background-color:#FFF;
  height:50px;
  background-image: url(../img/list_edm_bg.png);  background-position: left; background-size:auto 100%;
  /* border-bottom: 5px solid #EEE; */
}
.edm-list .edm-list-new{
  background-image: url(../img/list_edm_bg_over.png);  background-position: left; background-size:auto 100%;
}
.edm-list .team-flag{
  width:100px;

  /* border:1px solid #DDD; */
}
.edm-list .team-flag-none{
  width:100px;
  border:none;
}
.edm-list .score{
  color:#e91f36;
  /* background-image: url(../img/slider_shapes.png);  background-position: center; background-size:auto 100%; */
}


.edm-list-new{
  margin-top:0px;
  position:relative;
}
.edm-list-new .inner-row{
  background-color:#FFF;
  height:50px;
  background-image: url(../img/list_edm_bg_over.png);  background-position: left; background-size:auto 100%;
  /* border-bottom: 5px solid #EEE; */
}
.edm-list-new .team-flag{
  width:100px;
}

.edm-list-new .score{
  color:#FFF;
  /* background-image: url(../img/slider_shapes.png);  background-position: center; background-size:auto 100%; */
}
/* QUEUE LIST */


.queue-container{
  position:relative;
  overflow:hidden;
  display:block;
  height:0px;
  background-color:#292929;
}
.queue-title{
  color:#FFF;padding-top:30px;
}
.queue-indicator{
  position:absolute;top:98px;left:50px;z-index:1000
}
.queue-container-wrapper{
  position:relative;
  width:100%;
  height:400px;
  overflow:hidden;
}
.queue-list-container{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  z-index:1000
}

.queue-list{

}
.queue-list .inner-row{
  border-bottom: 1px solid rgba(255,255,255,0.3);
}
.queue-list .item{
  color:#FFF;
  border: none;
}
.queue-list .team{
  padding-left: 130px;
}
.queue-list .team-flag{
  width:145px;
  height:43px;
  /* border:3px solid rgba(255,255,255,1); */
}
.queue-list .team-flag-none{
  width:145px;
  height:43px;
  border:3px solid rgba(255,255,255,0);
}
.queue-list .uname{
  width:70%;
}
